/*
	Consistent Spacers Classes:
	This is a set of CSS classes designed to provide consistent padding and margins across your site. Just call on a class of any side, and an amount to set padding for the element.
	These classes will give your site a more consistent rhythm in their distance from each other. This helps readers eyes easily track between multiple pieces of content and create easy to follow content divisions.
*/

/* ###Custom Padding### */
/* Padding Vertical */
.pvn{
	padding-top: 0px;
	padding-bottom: 0px;
}

.pvs{
	padding-top: 4px;
	padding-bottom: 4px;
}

.pvm{
	padding-top: 8px;
	padding-bottom: 8px;
}

.pvl{
	padding-top: 16px;
	padding-bottom: 16px;
}

/* Padding Horizontal */
.phn{
	padding-left: 0px;
	padding-right: 0px;
}

.phs{
	padding-left: 4px;
	padding-right: 4px;
}

.phm{
	padding-left: 8px;
	padding-right: 8px;
}

.phl{
	padding-left: 16px;
	padding-right: 16px;
}

/* Padding Top */
.ptn{
	padding-top: 0;
}

.pts{
	padding-top: 4px;
}

.ptm{
	padding-top: 8px;
}

.ptl{
	padding-top: 16px;
}

/* Padding Bottom */
.pbn{
	padding-bottom: 0;
}

.pbs{
	padding-bottom: 4px;
}

.pbm{
	padding-bottom: 8px;
}

.pbl{
	padding-bottom: 16px;
}

/* Padding Left */
.pln{
	padding-left: 0px;
}

.pls{
	padding-left: 4px;
}

.plm{
	padding-left: 8px;
}

.pll{
	padding-left: 16px;
}

/* Padding Right */
.prn{
	padding-right: 0px;
}

.prs{
	padding-right: 4px;
}

.prm{
	padding-right: 8px;
}

.prl{
	padding-right: 16px;
}

/* ###Custom Margins### */
/* Margin Vertical */
.mvn{
	margin-top: 0px;
	margin-bottom: 0px;
}

.mvs{
	margin-top: 4px;
	margin-bottom: 4px;
}

.mvm{
	margin-top: 8px;
	margin-bottom: 8px;
}

.mvl{
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Margin Horizontal */
.mhn{
	margin-left: 0px;
	margin-right: 0px;
}

.mhs{
	margin-left: 4px;
	margin-right: 4px;
}

.mhm{
	margin-left: 8px;
	margin-right: 8px;
}

.mhl{
	margin-left: 16px;
	margin-right: 16px;
}

/* Margin Top */
.mtn{
	margin-top: 0;
}

.mts{
	margin-top: 4px;
}

.mtm{
	margin-top: 8px;
}

.mtl{
	margin-top: 16px;
}

/* Margin Bottom */
.mbn{
	margin-bottom: 0;
}

.mbs{
	margin-bottom: 4px;
}

.mbm{
	margin-bottom: 8px;
}

.mbl{
	margin-bottom: 16px;
}

/* Margin Left */
.mln{
	margin-left: 0px;
}

.mls{
	margin-left: 4px;
}

.mlm{
	margin-left: 8px;
}

.mll{
	margin-left: 16px;
}

/* Margin Right */
.mrn{
	margin-right: 0px;
}

.mrs{
	margin-right: 4px;
}

.mrm{
	margin-right: 8px;
}

.mrl{
	margin-right: 8px;
}

.clear{
	clear: both;
}